
.body{
    list-style: none;
    font-size :14px;
    background-color: #ffffff;
    color: rgba(33, 33, 33, 1);
    list-style: none;}

.up{
  
    list-style: none;}

.logo{   
    
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color:#000000; }

.accent{ 
    color: #2196F3; }

.linka{
   
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;}

.address{
    color: #757575;

    list-style: none;}

.address:hover{color: #2196F3;}
.address:focus{color: #2196F3;}

.linkb{
   
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;}
    
.linkc{
    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;}

.social-links .link:hover{ color: #2196F3 }

.social-links .link:focus{ color: #2196F3;}

.link{
  
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   color: #212121;}

.section{
   width: 1600px;
   height: 600px;
   left: 0px;
   top: 80px;
   background: #2F303A;}

.section-title{
  
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;}
    
.boton{
    top: 440px;
    background: #2196F3;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;}

.klik{text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
    
    background: #F5F4;}

.klik:hover{background:  #2196F3;}
.klik:focus{background:  #2196F3;}
    
.fotoa{
width: 370px;
height: 294px;
left: 215px;
top: 1058px;
list-style: none;}
    
.fotob{
    width: 370px;
    height: 294px;
    left: 615px;
    top: 1058px;
    list-style: none;}

.fotoc{
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 1058px;
    list-style: none;}
    /* portfolio */

.web{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;}